.grinding-session-tracker {
  display: flex;
  flex-direction: column;
}

.items-container {
  display: flex;
  align-items: center;
}

.items-container > * {
  margin-right: 10px;
}

.items-container img {
  height: 16px;
  width: 16px;
}

.items-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-container input {
  margin-top: 5px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
