@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #202020;
    color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

.navegation {
    background-color: #2b2b2b;
    padding: .5em;
}

.navegation__list {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.navegation__item {
    background-color: #2b2b2b;
    padding: .2em .5em;
    border-radius: 10px;
    border: 1px solid rgb(80, 80, 80);
}

.navegation__item:hover {
    background-color: rgb(80, 80, 80);
    border: 1px solid #f2f2f2;
}

.navegation__link {
    display: flex;
    gap: .5em;
    align-items: center;
}

.navegation__img {
    width: 30px;
}

.navegation__text {
    color: #f2f2f2;
    font-weight: 700;
}

/* TRACKER */

.tracker__bg {
    margin-top: 1em;
    background-color: #2b2b2b;
    padding: 1em 0;
}

.tracker {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.tracker__img {
    border-radius: 50%;
    border: 1px solid rgb(80, 80, 80);
}

.tracker__item, .tracker__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.tracker__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance: textfield; }

.tracker__input {
    background-color: transparent;
    color: #f2f2f2;
    border: none;
    width: 30px;
    height: 30px;
    text-align: center;
    outline: none;
    padding: .2em;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    
}

.tracker__input::placeholder {
    color: rgb(80, 80, 80);
}